<div>
  <img src="assets/logo.jpeg" style="width: 100px" />
</div>
<div class="cointainer">
  <h1>Business Name</h1>
  <input placeholder="Business Name..." />
  <h1>Business website URL</h1>
  <input placeholder="www.yourwebsite.com" />
  <h1>Business industry</h1>
  <select>
    <option disabled selected>Select industry...</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>

  <h1>Advertising Goal</h1>
  <span
    >Your ads in this campaign will be optimised towards the selected goal. you
    have existing conversions in your ad accounts that you'd like to use. Import
    them here</span
  >
  <br />
  <select>
    <option disabled selected>Website Traffic</option>
    <option>Phone Calls</option>
    <option>Branding</option>
    <option>Chat Messages</option>
  </select>

  <h1>Platforms</h1>
  <span
    >ٍٍSelect on which channel you want to see your ads. You can create ads on
    other channels later too
  </span>

  <div class="gird">
    <div class="card">
      <h2>Google Ads</h2>
      <span>Apper with your ads on top of the world's first search engine</span>
    </div>
    <div class="card">
      <h2>Microsoft Ads</h2>
      <span
        >Apper with your ads on top of Bing,Yahoo & other search partners</span
      >
    </div>
    <div class="card">
      <h2>Facebook Ads</h2>
      <span
        >Apper with your ads in the newsfeed & stories & reels of your
        audience</span
      >
    </div>
    <div class="card">
      <h2>Instgram Ads</h2>
      <span
        >Apper with your ads in the newsfeed & stories & reels of your
        audience</span
      >
    </div>
    <div class="card">
      <h2>Twitter Ads</h2>
      <span
        >Apper with your ads in the timeline & search results of your
        audience</span
      >
    </div>
    <div class="card">
      <h2>Online Ads</h2>
      <span
        >Apper with your ads on websites part of the Google Display
        Network</span
      >
    </div>
  </div>

  <h1>Campaign text</h1>
  <input placeholder="Campaign text..." />

  <h1>Campaign design logo</h1>
  <input type="file" />
</div>
